1.

In [1]:
num = eval(input('Enter a number :'))
print("Hexa decimal of " ,num ,hex(num)) 
print("octal of" ,num ,oct(num))
print("square root of" ,num ,(num**0.5))

Enter a number :100
Hexa decimal of  100 0x64
octal of 100 0o144
square root of 100 10.0

2.

In [3]:
num=eval(input("Enter a number"))
pi=eval(input("Enter a number"))
str=input("Enter your name")
boolean=eval(input("Enter a boolean"))
print(type(num))
print(type(pi)) 
print(type(str)) 
print(type(boolean))

Enter a number45
Enter a number45.8
Enter your namekala
Enter a booleanTrue
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

3.

In [4]:
a=eval(input('Enter the first side of the triangle :'))
b=eval(input('Enter the second side of the triangle:'))
c=eval(input('Enter the thirsd side of the triangle:'))
print(a,b,c)
s=(a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter the first side of the triangle :3
Enter the second side of the triangle:4
Enter the thirsd side of the triangle:5
3 4 5
6.0

4.

In [5]:
r= eval(input('Radius of circle :'))
Area= 3.14*r*r
print('Area of the circle=',Area)

Radius of circle :4
Area of the circle= 50.24

5.

In [6]:
l=eval(input('Length of a rectangle:'))
b=eval(input('Breadth of a rectangle:'))
Perimeter =2*(l+b)
print(Perimeter)

Length of a rectangle:8
Breadth of a rectangle:4
24

6.

In [7]:
x1,y1=eval(input('Enter x1 :')),eval(input('Enter y1 :'))
x2,y2=eval(input('Enter x2 :')),eval(input('Enter y2 :'))
dist=((x1-x2)**2+(y1-y2)**2)**0.5
print(dist)

Enter x1 :1
Enter y1 :2
Enter x2 :3
Enter y2 :4
2.8284271247461903

7.

In [9]:
a,b=int(input('Enter integer 1 :')),eval(input('Enter integer 2 :'))
print('Addition:',a+b)
print('Subtraction:',a-b)
print('Multiplication:',a*b)
print('Division:',a/b)
print('Integer division',a//b)
print('Modulo division',a%b)

Enter integer 1 :3
Enter integer 2 :5
Addition: 8
Subtraction: -2
Multiplication: 15
Division: 0.6
Integer division 0
Modulo division 3

8.

In [10]:
a,b=float(input('Enter integer 1 :')),eval(input('Enter integer 2 :'))
print('Addition:',a+b)
print('Subtraction:',a-b)
print('Multiplication:',a*b)
print('Division:',a/b)
print('Integer division',a//b)
print('Modulo division',a%b)

Enter integer 1 :6.7
Enter integer 2 :7.8
Addition: 14.5
Subtraction: -1.0999999999999996
Multiplication: 52.26
Division: 0.858974358974359
Integer division 0.0
Modulo division 6.7

9.

In [11]:
a,b=float(input('Enter integer 1 :')),eval(input('Enter integer 2 :'))
print('average of two nos.:',(a+b)/2)
print('deviation of a :',a-((a+b)/2))
print('deviation of b :',b-((a+b)/2))

Enter integer 1 :4
Enter integer 2 :2
average of two nos.: 3.0
deviation of a : 1.0
deviation of b : -1.0

10.

In [12]:
a=eval(input('Enter a number to round at ones place:'))
print(round(a,1))

Enter a number to round at ones place:1.3455678
1.3

11.

In [13]:
F=float(input('Enter the no. :'))
print('On converting Farenheit to degree Celsius =' ,(5/9)*(F-32))

Enter the no. :3
On converting Farenheit to degree Celsius = -16.11111111111111

12.

In [14]:
a,b,c,d=float(input('Enter the no. :')),float(input('Enter the no. :')),float(input('Enter the no. :')),float(input('Enter the no. :'))
print('Total amount in piggy bank:',a+b+c+d)

Enter the no. :10
Enter the no. :5
Enter the no. :2
Enter the no. :1
Total amount in piggy bank: 18.0

13.

In [21]:
quantity=float(input('Enter the quantity of items sold:'))
value = float(input('Enter the value of the item:'))
discount=float(input('Enter the discount percentage:'))
tax=float(input('Enter the tax:'))
amount=quantity*value
discount_amount=amount*discount/100
subtotal=amount-discount_amount
tax_amount=subtotal*tax/100
total_amount=subtotal+tax_amount
print('Quantity sold=',quantity)
print('Price per item=',value)
print('Amount=',amount)
print('Discount=',discount_amount)
print('Discounted total:',subtotal)
print('Tax=',tax_amount)
print('Total amount to be paid',total_amount)

Enter the quantity of items sold:80
Enter the value of the item:100
Enter the discount percentage:10
Enter the tax:14
Quantity sold= 80.0
Price per item= 100.0
Amount= 8000.0
Discount= 800.0
Discounted total: 7200.0
Tax= 1008.0
Total amount to be paid 8208.0

14.

In [15]:
a=float(input('Enter the no. :'))
print('On converting float to integer:',int(a))

Enter the no. :2.6789
On converting float to integer: 2

15.

In [17]:
a=float(input('Total amount of Salary:'))
print('gross salary=',a-0.4*a-0.2*a)

Total amount of Salary:10000
gross salary= 4000.0

16.

In [19]:
p,r,t=float(input('Enter the p :')),float(input('Enter the r :')),float(input('Enter the t :'))
I=p*r*t/100
print('Simple Interest:',I)

Enter the p :1
Enter the r :3
Enter the t :2
Simple Interest: 0.06